<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
>

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="metadata">
            <f:metadata>
                <f:viewParam name="userid" value="#{addPayment.userId}"/>
                <f:viewAction action="#{addPayment.init}" />
            </f:metadata>
        </ui:define>

        <ui:define name="content">
            <div id="title" class="row">
                <div class="large-12 medium-12 columns">
                    <h2>Zadání platby</h2>
                    <h3>Uživatel: #{addPayment.user.person.name.familyName} #{addPayment.user.person.name.firstName} (#{addPayment.user.email})</h3>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <h:form>
                <div class="row">
                    <div class="large-2 medium-2 columns">
                        <h:outputLabel value="Typ platby:" for="paymentType" />
                        <h:selectOneMenu  id="paymentType" value="#{addPayment.paymentType}">
                            <f:selectItem itemValue="BANK" itemLabel="Banka" />
                            <f:selectItem itemValue="CASH" itemLabel="Hotovost" />
                        </h:selectOneMenu>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <h:outputLabel value="Datum platby:" for="paymentDate" styleClass="#{paymentDate.valid ? '' : 'error'}">
                            <h:inputText id="paymentDate" binding="#{paymentDate}" p:type="date" p:min="2014-01-01" p:placeholder="RRRR-MM-DD" value="#{addPayment.paymentDate}" title="Datum platby">
                                <f:convertDateTime pattern="yyyy-MM-dd" timeZone="Europe/Prague" />
                            </h:inputText>
                            <h:message for="paymentDate" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-3 medium-3 columns end">
                        <h:outputLabel value="Částka:" for="amount" styleClass="#{amount.valid ? '' : 'error'}">
                            <h:inputText id="amount" binding="#{amount}" value="#{addPayment.amount}" title="Částka" />
                            <h:message for="amount" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 medium-12 columns">
                        <h:dataTable value="#{addPayment.reservations}" var="r">
                            <h:column>
                                <h:selectBooleanCheckbox value="#{addPayment.checked[r.id]}" rendered="#{r.rank ge 0}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    Jméno
                                </f:facet>
                                #{r.participant.name.familyName}
                                &#160;
                                #{r.participant.name.firstName}
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    Kurz
                                </f:facet>
                                #{r.offeredCourse.name}
                            </h:column>
                            <h:column> 
                                <f:facet name="header">
                                    Den
                                </f:facet>
                                <h:outputText converter="weekDayAbbrConverter" value="#{r.offeredCourse.weekDay}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    Čas
                                </f:facet>
                                <h:outputText converter="timeConverter" value="#{r.offeredCourse.minuteBegin}" />
                                -
                                <h:outputText converter="timeConverter" value="#{r.offeredCourse.minuteEnd}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    Čas rezervace
                                </f:facet>
                                <h:outputText value="#{r.reservationTime}">
                                    <f:convertDateTime pattern="dd.MM.yyyy HH:mm" timeZone="Europe/Prague" />
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    Cena
                                </f:facet>
                                <h:outputText value="#{r.offeredCourse.price}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    Platba
                                </f:facet>
                                <strong class="green-icon">
                                    <h:outputText value="#{r.payment.paymentDate}" rendered="#{not empty r.payment}" >
                                        <f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Prague" />
                                    </h:outputText>
                                </strong>
                            </h:column>
                        </h:dataTable>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 medium-8 columns">
                        <h:outputLabel value="Poznámka:" for="comment" styleClass="#{comment.valid ? '' : 'error'}">
                            <h:inputTextarea id="comment" binding="#{comment}" rows="2" p:placeholder="poznámka" value="#{addPayment.comment}" title="Poznámka"/>
                            <h:message for="comment" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 medium-10 columns">
                        <h3>Členství</h3>
                        <h4>Současné</h4>
                        <p>
                            <ul>
                                <ui:repeat var="m" value="#{addPayment.membership}" rendered="#{not empty addPayment.membership}">
                                    <li>#{m}</li>
                                </ui:repeat>
                            </ul>
                            <i><h:outputText  value="prozatím není členem" rendered="#{empty addPayment.membership}" /></i>
                        </p>
                        <h4>Zadat nové členství</h4>
                        <h:selectManyCheckbox value="#{addPayment.seasonsChecked}">
                            <f:selectItems value="#{addPayment.seasonValues}" />
                        </h:selectManyCheckbox>
                        <hr />
                        <p>
                            <h:selectBooleanCheckbox id="sendEmail" value="#{addPayment.sendEmail}" />
                            <h:outputLabel value="Poslat potvrzovací e-mail o registraci této platby" for="sendEmail" />
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 medium-2 columns">
                        <h:commandButton action="#{addPayment.submit}" value="Uložit platbu" disabled="#{empty addPayment.user.person}" styleClass="small radius button"/>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
