<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
>

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="metadata">
            <f:metadata>
                <f:viewParam name="courseid" value="#{courseDel.courseId}"/>
                <f:viewAction action="#{courseDel.init}" />
            </f:metadata>
        </ui:define>

        <ui:define name="content">
            <div id="title" class="row">
                <div class="large-12 medium-12 columns">
                    <h2>Vymazání kurzu</h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <div class="row">
                <div class="large-10 medium-12 columns">
                    <p><strong>POZOR! Chystáte se vymazat tento kurz:</strong></p>
                    <p class="panel callout radius">
                        <strong>
                            #{courseDel.course.name}
                            <br />
                            <h:outputText converter="weekDayAbbrConverter" value="#{courseDel.course.weekDay}" />
                            &#160;
                            <h:outputText converter="timeConverter" value="#{courseDel.course.minuteBegin}"/>
                            -
                            <h:outputText converter="timeConverter" value="#{courseDel.course.minuteEnd}"/>
                        </strong>
                        <br />
                        <br />
                        Kapacita kurzu je #{courseDel.course.capacity}. 
                        <br />
                        V kurzu je nyní přihlášeno účastníků a náhradníků: #{courseDel.course.capacity - courseDel.course.balance}.
                        <br />
                        <strong>Rezervace na tento kurz budou zrušeny účastníkům i náhradníkům.</strong>
                        <br />
                        <br />
                        <strong>Zaslání informačních e-mailů o zrušených rezervacích dle zadání níže.</strong>
                    </p>
                </div>
            </div>
            <h:form>
                <div class="row">
                    <div class="large-8 medium-10 columns">
                        <p>
                            <h:selectBooleanCheckbox id="sendEmail" value="#{courseDel.sendEmail}" />
                            <h:outputLabel value="Poslat potvrzovací e-maily o zrušených rezervacích" for="sendEmail" />
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 medium-4 columns">
                        <p>
                        <h:commandButton action="#{courseDel.submit}" value="Vymazat kurz"
                                    onclick="return confirm('Opravdu chcete vymazat tento kurz a rezervace na něj? Tuto akci nelze vrátit!');" 
                                    styleClass="small radius button"/>
                        </p>
                        <p>
                            Zpět na
                            <h:link value="správu kurzů" outcome="course-mgmt" />
                        </p>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
