<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      >

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="metadata">
            <f:metadata>
                <f:viewParam name="courseid" value="#{courseEdit.courseId}"/>
                <f:viewParam name="xfer" value="#{courseEdit.xfer}"/>
                <f:viewAction action="#{courseEdit.init}" />
            </f:metadata>
        </ui:define>

        <ui:define name="content">
            <div id="title" class="row">
                <div class="large-12 medium-12 columns">
                    <h2>Převod kurzu na nové období</h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <h:form>
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <h:outputLabel value="Název kurzu:" for="name" styleClass="#{name.valid ? '' : 'error'}">
                            <h:inputText id="name" binding="#{name}" value="#{courseEdit.course.name}" title="Název kurzu" />
                            <h:message for="name" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-5 medium-5 columns end">
                        <h:outputLabel value="Externí URL:" for="urlExt" styleClass="#{urlExt.valid ? '' : 'error'}">
                            <h:inputText id="urlExt" binding="#{urlExt}" value="#{courseEdit.course.urlExt}" title="URL kurzu na webových stránkách" />
                            <h:message for="urlExt" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 medium-3 columns">
                        <h:outputLabel value="Den v týdnu:" for="weekDay" styleClass="#{weekDay.valid ? '' : 'error'}">
                            <h:inputText id="weekDay" binding="#{weekDay}" value="#{courseEdit.course.weekDay}" title="Den v týdnu (1 - 7)" p:placeholder="1 až 7" />
                            <h:message for="weekDay" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <h:outputLabel value="Čas začátku:" for="minuteBegin" styleClass="#{minuteBegin.valid ? '' : 'error'}">
                            <h:inputText id="minuteBegin" binding="#{minuteBegin}" value="#{courseEdit.course.minuteBegin}" title="Čas začátku" p:type="time" p:step="60" p:placeholder="HH:MM">
                                <f:converter converterId="timeConverter" />
                            </h:inputText>    
                            <h:message for="minuteBegin" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-3 medium-3 columns end">
                        <h:outputLabel value="Čas konce:" for="minuteEnd" styleClass="#{minuteEnd.valid ? '' : 'error'}">
                            <h:inputText id="minuteEnd" binding="#{minuteEnd}" value="#{courseEdit.course.minuteEnd}" title="Čas konce" p:type="time" p:step="60" p:placeholder="HH:MM">
                                <f:converter converterId="timeConverter" />
                            </h:inputText>    
                            <h:message for="minuteEnd" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 medium-3 columns">
                        <h:outputLabel value="Lektor:" for="instructor" />
                        <h:selectOneMenu id="instructor" value="#{courseEdit.instructorId}">
                            <f:selectItems value="#{courseEdit.instructor2value}" />
                        </h:selectOneMenu>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <h:outputLabel value="Datum začátku:" for="dateBegin" styleClass="#{dateBegin.valid ? '' : 'error'}">
                            <h:inputText id="dateBegin" binding="#{dateBegin}" value="#{courseEdit.course.dateBegin}" title="Datum začátku" p:type="date" p:min="2014-01-01" p:placeholder="RRRR-MM-DD">
                                <f:convertDateTime pattern="yyyy-MM-dd" timeZone="Europe/Prague" />
                            </h:inputText>    
                            <h:message for="dateBegin" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-3 medium-3 columns end">
                        <h:outputLabel value="Datum konce:" for="dateEnd" styleClass="#{dateEnd.valid ? '' : 'error'}">
                            <h:inputText id="dateEnd" binding="#{dateEnd}" value="#{courseEdit.course.dateEnd}" title="Datum konce" p:type="date" p:min="2014-01-01" p:placeholder="RRRR-MM-DD">
                                <f:convertDateTime pattern="yyyy-MM-dd" timeZone="Europe/Prague" />
                            </h:inputText>    
                            <h:message for="dateEnd" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 medium-3 columns">
                        <h:outputLabel value="Pro:" for="audience" />
                        <h:selectOneMenu  id="audience" value="#{courseEdit.audienceStr}">
                            <f:selectItem itemValue="CHILD" itemLabel="Děti" />
                            <f:selectItem itemValue="CHILD_PARENT" itemLabel="Děti s rodiči" />
                            <f:selectItem itemValue="ADULT" itemLabel="Dospělí" />
                            <f:selectItem itemValue="TEEN" itemLabel="Teen klub" />
                            <f:selectItem itemValue="DO" itemLabel="Do klub" />
                            <f:selectItem itemValue="SENIN" itemLabel="Senin klub" />
                        </h:selectOneMenu>
                    </div>
                    <div class="large-2 medium-2 columns">
                        <h:outputLabel value="Věk:" for="age" styleClass="#{age.valid ? '' : 'error'}">
                            <h:inputText id="age" binding="#{age}" value="#{courseEdit.course.age}" title="Věk" />
                            <h:message for="age" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-1 medium-1 columns">
                        <h:outputLabel value="Kapac.:" for="capacity" styleClass="#{capacity.valid ? '' : 'error'}">
                            <h:inputText id="capacity" binding="#{capacity}" value="#{courseEdit.capacity}" disabled="true" title="Kapacitu kurzu zde není možné měnit" />
                            <h:message for="capacity" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-1 medium-1 columns">
                        <h:outputLabel value="Lekcí:" for="numberOfLessons" styleClass="#{numberOfLessons.valid ? '' : 'error'}">
                            <h:inputText id="numberOfLessons" binding="#{numberOfLessons}" value="#{courseEdit.course.numberOfLessons}" title="Počet lekcí" />
                            <h:message for="numberOfLessons" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-2 medium-2 columns end">
                        <h:outputLabel value="Cena:" for="price" styleClass="#{price.valid ? '' : 'error'}">
                            <h:inputText id="price" binding="#{price}" value="#{courseEdit.course.price}" title="Cena" />
                            <h:message for="price" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-9 medium-9 columns">
                        <h:outputLabel value="Poznámka:" for="comment" styleClass="#{comment.valid ? '' : 'error'}">
                            <h:inputTextarea id="comment" binding="#{comment}" rows="2" p:placeholder="poznámka" value="#{courseEdit.course.comment}" title="Poznámka"/>
                            <h:message for="comment" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-9 medium-9 columns">
                        <div class="panel callout radius">
                            Datum začátku a konce kurzu je přednastaven podle období.
                        </div>
                    </div>
                </div>
                <div class="row" jsf:rendered="#{not empty courseEdit.reservations}">
                    <div class="large-9 medium-9 columns">
                        <div class="panel callout radius">
                            Při převodu kurzu do dalšího období je možné vybrat účastníky, kteří
                            budou pokračovat. Těm zůstanou rezervace zachovány. Rezervace ostatních
                            účastníků budou vymazány. 
                        </div>
                    </div>
                </div>
                <h:panelGroup id="reservGroup" layout="block">
                    <div jsf:rendered="#{not empty courseEdit.reservations}">
                        <div class="row">
                            <div class="large-9 medium-9 columns">
                                Vyberte prosím účastníky, kteří pokračují v dalším období.
                            </div>
                        <div class="row">
                        </div>
                            <div class="large-9 medium-9 columns">
                                <h:dataTable value="#{courseEdit.reservations}" var="reservation">
                                    <h:column>
                                        <h:selectBooleanCheckbox value="#{courseEdit.checked[reservation.id]}" />
                                    </h:column>
                                    <h:column>
                                    #{reservation.participant.name.fullName}
                                    </h:column>
                                </h:dataTable>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
                <div class="row">
                    <hr />
                    <div class="large-8 medium-10 columns">
                        <p>
                            <h:selectBooleanCheckbox id="sendEmail" value="#{courseEdit.sendEmail}" />
                            <h:outputLabel value="Poslat potvrzovací e-mail o vytvořené rezervaci" for="sendEmail" />
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 medium-6 columns">
                        <p>
                            <h:commandButton action="#{courseEdit.submitTransfer}" value="Přesunout kurz"
                                             onclick="return confirm('Opravdu chcete přesunout kurz do nového období? Tuto akci nejde vrátit!');" 
                                             styleClass="small radius button"/>
                        </p>
                        <p>
                            Zpět na
                            <h:link value="správu období" outcome="season-mgmt" />
                        </p>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
