<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      >

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="content">
            <div class="row">
                <div class="large-8 medium-8 columns">
                    <h2>Správa rezervací</h2>
                </div>
            </div>
            <div class="row">
                <div class="large-2 medium-2 columns">
                    <br />
                    <h:link styleClass="tiny radius button" value="Přidat rezervaci" outcome="course-reserv-add" />
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <h:form id="form">
                        <h:dataTable value="#{courseRsvMgmt.reservations}"
                                                var="r"  id="table"
                                                styleClass="display dataTable no-footer" 
                                                cellspacing="0" role="grid" width="100%">
                            <f:facet name="header">
                                <h:outputText value="Aktuální rezervace kurzů"/>
                            </f:facet>
                            <h:column>
                                <f:facet name="header">ID</f:facet>
                                #{r.id}
                            </h:column>
                            <h:column p:data-order="#{empty r.offeredCourse ? 0 : r.offeredCourse.weekDay}">
                                <f:facet name="header">Den</f:facet>
                                <h:outputText converter="weekDayAbbrConverter" value="#{r.offeredCourse.weekDay}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">Čas</f:facet>
                                <h:outputText converter="timeConverter" value="#{r.offeredCourse.minuteBegin}"/>
                                -
                                <h:outputText converter="timeConverter" value="#{r.offeredCourse.minuteEnd}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Kurz</f:facet>
                                #{r.offeredCourse.name}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Poz.</f:facet>
                                #{r.rank}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Účastník</f:facet>
                                #{r.participant.name.fullName}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Platba</f:facet>
                                <h:outputText value="#{r.payment.paymentDate}" rendered="#{not empty r.payment}">
                                    <f:convertDateTime pattern="yyyy-MM-dd" timeZone="Europe/Prague" />
                                </h:outputText>
                                <h:outputText value="NE" rendered="#{empty r.payment}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">Čas rezervace</f:facet>
                                <h:outputText value="#{r.reservationTime}">
                                    <f:convertDateTime pattern="yyyy-MM-dd HH:mm" timeZone="Europe/Prague" />
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Akce</f:facet>
                                <h:link outcome="course-reserv-remove" title="Zrušit rezervaci">
                                    <f:param name="resid" value="#{r.id}" />
                                    <i class="fi-trash"></i>
                                </h:link>
                                &#160;
                                &#160;
                                <a href="#{courseRsvMgmt.gmailUrl(r)}" target="_blank" title="Otevřít okno s e-mailem">
                                    <i class="fi-mail"></i>
                                </a>
                            </h:column>
                        </h:dataTable>
                    </h:form>
                </div>
            </div>            
        </ui:define>
        <ui:define name="epilogue">
            <ui:include src="/WEB-INF/jsf/datatables.xhtml" />
            <script>
                $('table.display').DataTable({
                    "language": {
                        "url": '//cdn.datatables.net/plug-ins/be7019ee387/i18n/Czech.json'
                    },
                    "stateSave": true,
                    "order": [],
                    "aoColumns": [      
                        null,
                        null,
                        null,
                       { "sType": "czechString"  },
                        null,
                       { "sType": "czechString"  },
                        null,
                        null,
                        { "bSortable": false }
                    ]
                });
            </script>
        </ui:define>
    </ui:composition>

</html>
