<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
>

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="metadata">
            <f:metadata>
                <f:viewParam name="resid" value="#{courseRsvRemv.reservationId}"/>
                <f:viewAction action="#{courseRsvRemv.init}" />
            </f:metadata>
        </ui:define>

        <ui:define name="content">
            <div id="title" class="row">
                <div class="large-12 medium-12 columns">
                    <h2>
                        <h:outputText value="Zrušení rezervace účastníka" rendered="#{courseRsvRemv.originalReservation.rank ge 0}" />
                        <h:outputText value="Zrušení rezervace náhradníka" rendered="#{courseRsvRemv.originalReservation.rank lt 0}" />
                    </h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <div class="row">
                <div class="large-10 medium-12 columns">
                    <p>
                        Chystáte se zrušit tuto rezervaci:
                        <br /><br />
                        <strong>
                            #{courseRsvRemv.originalReservation.participant.name.fullName}
                            <br />
                            #{courseRsvRemv.originalReservation.offeredCourse.name}
                            <br />
                            <h:outputText converter="weekDayAbbrConverter" value="#{courseRsvRemv.originalReservation.offeredCourse.weekDay}" />
                            &#160;
                            <h:outputText converter="timeConverter" value="#{courseRsvRemv.originalReservation.offeredCourse.minuteBegin}"/>
                            -
                            <h:outputText converter="timeConverter" value="#{courseRsvRemv.originalReservation.offeredCourse.minuteEnd}"/>
                        </strong>
                        <br />
                        Pozice při rezervaci: #{courseRsvRemv.originalReservation.rank}
                        <h:outputText value="(účastník)" rendered="#{courseRsvRemv.originalReservation.rank ge 0}" />
                        <h:outputText value="(náhradník)" rendered="#{courseRsvRemv.originalReservation.rank lt 0}" />
                    </p>
                </div>
            </div>
            <h:form>
                <div class="row">
                    <div class="large-8 medium-12 columns">
                        <p>
                            <strong>
                                <h:outputText value="Vyberte prosím náhradníka:" rendered="#{not empty courseRsvRemv.substitutes and courseRsvRemv.originalReservation.rank ge 0}" />
                            </strong>
                        </p>
                        <h:selectOneRadio value="#{courseRsvRemv.substituteId}"  layout="pageDirection" rendered="#{not empty courseRsvRemv.substitutes and courseRsvRemv.originalReservation.rank ge 0}">
                            <f:selectItems  value="#{courseRsvRemv.substitutes}" />
                        </h:selectOneRadio>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 medium-4 columns">
                        <p>
                        <h:commandButton action="#{courseRsvRemv.submit}" value="Zrušit rezervaci"
                                    onclick="return confirm('Opravdu chcete zrušit tuto rezervaci? Tuto akci nelze vrátit!');" 
                                    styleClass="small radius button"/>
                        </p>
                        <p>
                            Zpět na
                            <h:link value="správu rezervací" outcome="course-reserv-mgmt" />
                        </p>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
