<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
>

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="content">
            <div id="title" class="row">
                <div class="large-12 medium-12 columns">
                    <h2>Přidání nové rezervace</h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <h:form>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <h:outputLabel value="Vyberte kurz:" for="newCourse" styleClass="#{newCourse.valid ? '' : 'error'}">
                            <h:selectOneMenu id="newCourse" binding="#{newCourse}" value="#{courseRsvAdd.courseId}">
                                <f:selectItems  value="#{courseRsvAdd.course2val}" />
                            </h:selectOneMenu>
                            <h:message for="newCourse" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h:outputLabel value="Vyberte účastníka:" for="newParticipant" styleClass="#{newParticipant.valid ? '' : 'error'}">
                            <h:selectOneMenu id="newParticipant" binding="#{newParticipant}" value="#{courseRsvAdd.participantId}">
                                <f:selectItems  value="#{courseRsvAdd.participant2val}" />
                            </h:selectOneMenu>
                            <h:message for="newParticipant" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 medium-10 columns">
                        <p>
                            <h:selectBooleanCheckbox id="sendEmail" value="#{courseRsvAdd.sendEmail}" />
                            <h:outputLabel value="Poslat potvrzovací e-mail o vytvořené rezervaci" for="sendEmail" />
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 medium-4 columns">
                        <p>
                        <h:commandButton action="#{courseRsvAdd.submit}" value="Vytvořit rezervaci"
                                    onclick="return confirm('Opravdu chcete vytvořit novou rezervaci?');" 
                                    styleClass="small radius button"/>
                        </p>
                        <p>
                            Zpět na
                            <h:link value="správu rezervací" outcome="course-reserv-mgmt" />
                        </p>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
