<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      >

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="content">
            <div class="row">
                <div class="large-8 medium-8 columns">
                    <h2>Seznam kurzů</h2>
                </div>
            </div>
            <div class="row">
                <div class="large-2 medium-2 columns">
                    <br />
                    <h:link styleClass="tiny radius button" value="Přidat kurz" outcome="course-edit" />
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <h:form id="form">
                        <h:dataTable value="#{courseMgmt.courses}" var="course"  id="table" styleClass="display dataTable no-footer" cellspacing="0" role="grid" width="100%">
                            <h:column p:data-order="#{empty course ? 0 : course.weekDay}">
                                <f:facet name="header">Den</f:facet>
                                <h:outputText converter="weekDayAbbrConverter" value="#{course.weekDay}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">Od</f:facet>
                                <h:outputText converter="timeConverter" value="#{course.minuteBegin}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">Do</f:facet>
                                <h:outputText converter="timeConverter" value="#{course.minuteEnd}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">Název</f:facet>
                                #{course.name}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Pro</f:facet>
                                #{course.audience}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Lektor</f:facet>
                                #{empty course.instructor ? 0 : course.instructor.name.fullName}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Cena</f:facet>
                                <h:outputText value="#{course.price}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">Volno</f:facet>
                                <h:outputText value="#{course.balance}" /> /
                                <h:outputText value="#{course.capacity}" />
                            </h:column>
                            <h:column p:data-order="#{empty course.dateBegin ? 0 : course.dateBegin.time}">
                                <f:facet name="header">Začátek</f:facet>
                                <h:outputText value="#{course.dateBegin}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Prague" />
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Pozn.</f:facet>
                                <h:outputText value="#{course.comment}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">Akce</f:facet>
                                <!-- <i class="fi-torsos-male-female"></i>
                                &#160; -->
                                <h:link outcome="course-edit" title="Editovat kurz">
                                    <f:param name="courseid" value="#{course.id}" />
                                    <i class="fi-pencil"></i>
                                </h:link>
                                &#160;
                                &#160;
                                <h:link outcome="course-remove" title="Vymazat kurz">
                                    <f:param name="courseid" value="#{course.id}" />
                                    <i class="fi-trash"></i>
                                </h:link>
                            </h:column>
                        </h:dataTable>
                    </h:form>
                </div>
            </div>            
        </ui:define>
        <ui:define name="epilogue">
            <ui:include src="/WEB-INF/jsf/datatables.xhtml" />
            <script>
                $('table.display').DataTable({
                    language: {
                        url: '//cdn.datatables.net/plug-ins/be7019ee387/i18n/Czech.json'
                    },
                    "bPaginate": false,
                    "order": [],
                    "aoColumns": [      
                        null,
                        null,
                       { "bSortable": false },
                       { "sType": "czechString"  },
                        null,
                       { "sType": "czechString"  },
                       { "bSortable": false },
                       { "bSortable": false },
                       { "bSortable": false },
                       { "bSortable": false },
                       { "bSortable": false }
                    ]
                });
            </script>
        </ui:define>
    </ui:composition>

</html>
