<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="content">
            <h:form>
                <div class="row">
                    <div class="large-8 medium-8 columns">
                        <h2>Exporty do Excelu</h2>
                        <p><h:commandLink action="#{exports.downloadActiveUsers}" value="registrovaní uživatelé" /></p>
                        <p><h:commandLink action="#{exports.downloadReservations}" value="rezervace" /></p>
                    </div>
                </div>            
                <div class="row">
                    <div class="large-2 medium-2 columns">
                        <h:commandLink action="#{exports.downloadAttendanceList}" value="prezenční listina" />
                    </div>
                    <p class="large-4 medium-4 columns end">
                        <h:selectOneMenu id="course" value="#{exports.selectedCourseId}">
                            <f:selectItems value="#{exports.course2id}" />
                        </h:selectOneMenu>
                    </p>
                </div>            
            </h:form>
        </ui:define>
    </ui:composition>

</html>
