<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      >

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="content">
            <div class="row">
                <div class="large-8 medium-8 columns">
                    <h2>Seznam lektorů</h2>
                </div>
            </div>
            <div class="row">
                <div class="large-2 medium-2 columns">
                    <br />
                    <h:link styleClass="tiny radius button" value="Přidat lektora" outcome="instr-edit" />
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <h:form id="form">
                        <h:dataTable id="instrsTable" value="#{instrMgmt.instructors}" var="instr" styleClass="display dataTable no-footer" cellspacing="0" role="grid" width="100%">
                            <h:column>
                                <f:facet name="header">
                                    ID
                                </f:facet>
                                #{instr.id}
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    Jméno
                                </f:facet>
                                #{instr.name.fullName}
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    Popis
                                </f:facet>
                                #{instr.description}
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    Akce
                                </f:facet>
                                <h:link outcome="instr-edit" title="Editovat lektora">
                                    <i class="fi-pencil"></i>
                                    <f:param name="instrid" value="#{instr.id}"/>
                                </h:link>
                                &#160;
                                &#160;
                                <h:commandLink action="#{instrMgmt.deleteInstructor(instr)}" title="Vymazat lektora" 
                                              onclick="return confirm('Opravdu chcete vymazat lektora #{instr.name.fullName}? Tuto akci nelze vrátit!');">
                                    <i class="fi-trash"></i>
                                </h:commandLink>
                            </h:column>
                        </h:dataTable>
                    </h:form>
                </div>
            </div>            
        </ui:define>
        <ui:define name="epilogue">
            <ui:include src="/WEB-INF/jsf/datatables.xhtml" />
            <script>
                $('table.display').DataTable({
                    language: {
                        url: '//cdn.datatables.net/plug-ins/be7019ee387/i18n/Czech.json'
                    },
                    "bPaginate": false,
                    "order": [],
                    "aoColumns": [      
                        null,
                        { "sType": "czechString"  },
                        { "bSortable": false },
                        { "bSortable": false }
                    ]
                });
            </script>
        </ui:define>
    </ui:composition>

</html>
