<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      >

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="metadata">
            <f:metadata>
                <f:viewParam name="instrid" value="#{instrEdit.instrId}"/>
                <f:viewAction action="#{instrEdit.init}" />
            </f:metadata>
        </ui:define>

        <ui:define name="content">
            <div id="title" class="row">
                <div class="large-12 medium-12 columns">
                    <h2>
                        <h:outputText value="Editace lektora" rendered="#{instrEdit.instrId ne 0}" /> 
                        <h:outputText value="Přidání nového lektora" rendered="#{instrEdit.instrId eq 0}" /> 
                    </h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <h:form>
                <div class="row">
                    <div class="large-3 medium-3 columns">
                        <h:outputLabel value="Jméno:" for="firstName" styleClass="#{firstName.valid ? '' : 'error'}">
                            <h:inputText id="firstName" binding="#{firstName}" value="#{instrEdit.firstName}" title="Křestní jméno" />
                            <h:message for="firstName" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-3 medium-4 columns">
                        <h:outputLabel value="Příjmení:" for="famillyName" styleClass="#{famillyName.valid ? '' : 'error'}">
                            <h:inputText id="famillyName" binding="#{famillyName}" value="#{instrEdit.famillyName}" title="Příjmení" />
                            <h:message for="famillyName" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-4 medium-5 columns end">
                        <h:outputLabel value="Externí URL:" for="urlExt" styleClass="#{urlExt.valid ? '' : 'error'}">
                            <h:inputText id="urlExt" binding="#{urlExt}" value="#{instrEdit.urlExt}" title="URL lektora na webových stránkách" />
                            <h:message for="urlExt" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-10 medium-11 columns">
                        <h:outputLabel value="Popis:" for="description" styleClass="#{description.valid ? '' : 'error'}">
                            <h:inputTextarea id="description" binding="#{description}" rows="2" p:placeholder="podrobnější popis" value="#{instrEdit.description}" title="Popis"/>
                            <h:message for="description" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <div class="large-3 medium-4 columns">
                        <p>
                            <h:commandButton action="#{instrEdit.submit}" value="Uložit změny"
                                             onclick="return confirm('Opravdu chcete uložit změny v údajích tohoto lektora? Tuto akci nejde vrátit!');" 
                                             styleClass="small radius button"/>
                        </p>
                        <p>
                            Zpět na
                            <h:link value="seznam lektorů" outcome="instr-mgmt" />
                        </p>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
