<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      >

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="content">
            <div class="row">
                <div class="large-8 medium-8 columns">
                    <h2>Seznam plateb</h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <h:form id="form">
                        <h:dataTable value="#{paymentMgmt.payments}" var="payment"  id="table" styleClass="display dataTable no-footer" cellspacing="0" role="grid" width="100%">
                            <h:column>
                                <f:facet name="header">ID</f:facet>
                                <h:outputText value="#{payment.id}"/>
                            </h:column>
                            <h:column p:data-order="#{empty payment.paymentDate ? 0 : payment.paymentDate.time}">
                                <f:facet name="header">Datum</f:facet>
                                <h:outputText value="#{payment.paymentDate}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Prague" />
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Částka</f:facet>
                                <h:outputText value="#{payment.amount}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Typ pl.</f:facet>
                                <h:outputText value="#{payment.paymentType}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Rodič</f:facet>
                                <h:outputText value="#{payment.person.name.fullName}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">Poznámka</f:facet>
                                <h:outputText value="#{payment.comment}" />
                            </h:column>
                        </h:dataTable>
                    </h:form>
                </div>
            </div>            
        </ui:define>
        <ui:define name="epilogue">
            <ui:include src="/WEB-INF/jsf/datatables.xhtml" />
            <script>
                $('table.display').DataTable({
                    "language": {
                        "url": '//cdn.datatables.net/plug-ins/be7019ee387/i18n/Czech.json'
                    },
                    "stateSave": true,
                    "order": [],
                    "aoColumns": [      
                        null,
                        null,
                        null,
                        null,
                       { "sType": "czechString"  },
                       { "bSortable": false }
                    ]
                });
            </script>
        </ui:define>
    </ui:composition>

</html>
