<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      >

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="content">
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <h2>Správa období</h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <h:form>
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <h:outputLabel value="Začátek rezervací Břežánek:" for="bookingStart" styleClass="#{bookingStart.valid ? '' : 'error'}">
                            <h:inputText id="bookingStart" binding="#{bookingStart}" value="#{seasonMgmt.reservationStart}" p:type="datetime-local" p:min="2016-01-01"  title="Zadejte datum a čas">
                                <f:convertDateTime pattern="yyyy-MM-dd'T'HH:mm" timeZone="Europe/Prague" />
                            </h:inputText>
                            <h:message for="bookingStart" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>            
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <h:outputLabel value="Začátek rezervací Vigvam:" for="bookingStart2" styleClass="#{bookingStart2.valid ? '' : 'error'}">
                            <h:inputText id="bookingStart2" binding="#{bookingStart2}" value="#{seasonMgmt.reservationStart2}" p:type="datetime-local" p:min="2016-01-01"  title="Zadejte datum a čas">
                                <f:convertDateTime pattern="yyyy-MM-dd'T'HH:mm" timeZone="Europe/Prague" />
                            </h:inputText>
                            <h:message for="bookingStart2" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>            
                <div class="row">
                    <div class="large-2 medium-2 columns">
                        <h:commandButton action="#{seasonMgmt.saveReservationStart}" value="Uložit" styleClass="small radius button" />
                    </div>
                </div>            
            </h:form>
            <hr />
            <h:form>
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <h3>Příprava dalšího období</h3>
                    </div>
                </div>            
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <h:outputLabel value="Jméno období:" for="name" styleClass="#{name.valid ? '' : 'error'}">
                            <h:inputText id="name" binding="#{name}" value="#{seasonMgmt.name}" title="Zadejte jméno období" />
                            <h:message for="name" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>            
                <div class="row">
                    <div class="large-3 medium-3 columns">
                        <h:outputLabel value="Začátek období:" for="dateBegin" styleClass="#{dateBegin.valid ? '' : 'error'}">
                            <h:inputText id="dateBegin" binding="#{dateBegin}" value="#{seasonMgmt.dateBegin}" p:type="date" p:min="2014-01-01"  title="Zadejte datum začátku období">
                                <f:convertDateTime pattern="yyyy-MM-dd" timeZone="Europe/Prague" />
                            </h:inputText>
                            <h:message for="dateBegin" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-3 medium-3 columns end">
                        <h:outputLabel value="Konec období:" for="dateEnd" styleClass="#{dateEnd.valid ? '' : 'error'}">
                            <h:inputText id="dateEnd" binding="#{dateEnd}" value="#{seasonMgmt.dateEnd}" p:type="date" p:min="2014-01-01"  title="Zadejte datum konce období">
                                <f:convertDateTime pattern="yyyy-MM-dd" timeZone="Europe/Prague" />
                            </h:inputText>
                            <h:message for="dateEnd" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>            
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <h:outputLabel value="Jméno minulého období:" for="namePrev" styleClass="#{namePrev.valid ? '' : 'error'}">
                            <h:inputText id="namePrev" binding="#{namePrev}" value="#{seasonMgmt.namePrev}" title="Zadejte jméno minulého období" />
                            <h:message for="namePrev" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-2 medium-2 columns end">
                        <h:outputLabel value="Rok min. období:" for="yearPrev" styleClass="#{yearPrev.valid ? '' : 'error'}">
                            <h:inputText id="yearPrev" binding="#{yearPrev}" value="#{seasonMgmt.yearPrev}" title="Zadejte rok minulého období">
                                <f:convertNumber type="number" maxIntegerDigits="4" minIntegerDigits="4" pattern="0000" />
                            </h:inputText>
                            <h:message for="yearPrev" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>            
                <div class="row">
                    <div class="large-2 medium-2 columns">
                        <h:commandButton action="#{seasonMgmt.save}" value="Uložit" styleClass="small radius button" />
                    </div>
                </div>            
            </h:form>
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <h4>
                        <h:outputText value="Kurzy, které neodpovídají aktuálnímu období:" rendered="#{not empty seasonMgmt.expiredCourses}" />
                        <h:outputText value="Všechny kurzy odpovídají aktuálnímu období." rendered="#{empty seasonMgmt.expiredCourses}" />
                    </h4>
                </div>
            </div>            
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <ul>
                        <ui:repeat var="course" value="#{seasonMgmt.expiredCourses}" >
                            <h:link  outcome="course-season-transfer">
                                <f:param name="courseid" value="#{course.id}" />
                                <f:param name="xfer" value="true" />
                                <h:outputText converter="weekDayAbbrConverter" value="#{course.weekDay}" />
                                &#160;
                                <h:outputText converter="timeConverter" value="#{course.minuteBegin}" />
                                #{course.name}
                                (#{course.instructor.name.fullName})
                            </h:link>
                            <br />
                        </ui:repeat>            
                    </ul>
                </div>
            </div>            
        </ui:define>
    </ui:composition>

</html>
