<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      >

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="content">
            <div class="row">
                <div class="large-8 medium-8 columns">
                    <h2>Seznam uživatelů</h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <h:form id="form">
                        <h:dataTable id="usersTable" value="#{userMgmt.users}" var="u" styleClass="display dataTable no-footer" cellspacing="0" role="grid" width="100%">
                            <h:column>
                                <f:facet name="header">
                                    ID
                                </f:facet>
                                #{u.id}
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    E-mail
                                </f:facet>
                                #{u.email}
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    Jméno
                                </f:facet>
                                #{u.person.name.familyName}
                                #{u.person.name.firstName}
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    Adresa
                                </f:facet>
                                #{u.person.address.city}
                                <h:outputText value=", " rendered="#{not empty u.person}"/>
                                #{u.person.address.street}
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    PSČ
                                </f:facet>
                                #{u.person.address.postcode}
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    Akce
                                </f:facet>
                                <h:link outcome="add-payment" title="Zadat platbu" rendered="#{u.id gt 10 and not empty u.person}">
                                    <i class="fi-euro"></i>
                                    <f:param name="userid" value="#{u.id}"/>
                                </h:link>
                                &#160;
                                <!--<a href="#"><i class="fi-mail"></i></a> -->
                                &#160;
                                &#160;
                                &#160;
                               <h:commandLink action="#{userMgmt.deleteUser(u)}" title="Vymazat uživatele" 
                                               onclick="return confirm('Opravdu chcete vymazat uživatele #{u.email}? Tuto akci nelze vrátit!');" 
                                               rendered="#{u.id gt 10}">
                                    <i class="fi-trash"></i>
                                </h:commandLink>
                            </h:column>
                        </h:dataTable>
                    </h:form>
                </div>
            </div>            
        </ui:define>
        <ui:define name="epilogue">
            <ui:include src="/WEB-INF/jsf/datatables.xhtml" />
            <script>
                $('table.display').DataTable({
                    language: {
                        url: '//cdn.datatables.net/plug-ins/be7019ee387/i18n/Czech.json'
                    },
                    stateSave: true,
                    "aoColumns": [      
                        null,
                        null,
                       { "sType": "czechString"  },
                       { "sType": "czechString"  },
                        null,
                        { "bSortable": false }
                    ]
                });
            </script>
        </ui:define>
    </ui:composition>

</html>
