<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:o="http://omnifaces.org/ui">

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="content">
            <div id="title" class="row">
                <div class="large-6 medium-6 columns">
                    <h2>Údaje o dětech</h2>
                </div>
                <hr />
            </div>
            <h:panelGroup layout="block" rendered="#{empty children.person}" styleClass="row">
                <p>
                    Prosíme, vyplňte si nejdříve <h:link outcome="/users/personal-data" value="vaše osobní údaje." /> 
                    Děti můžete přidávat až pak. 
                </p>
                <hr />
            </h:panelGroup>
            <h:panelGroup layout="block" rendered="#{not empty children.person}" styleClass="row">
                <div class="large-2 medium-2 columns">
                    <h:form><h:commandButton action="#{children.add}" value="Přidat dítě" immediate="true" styleClass="small radius button" /></h:form>
                </div>
                <hr />
            </h:panelGroup>
            <h:panelGroup id="messagePanel" layout="block" styleClass="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius" />
                </div>
            </h:panelGroup>
            <ui:repeat value="#{children.children}" var="c">
                <div class="row">
                    <h:form>
                        <div class="large-2 medium-2 columns">
                            <h:outputLabel value="Chlapec/děvče:" for="gender" />
                            <h:selectOneMenu  id="gender" value="#{c.genderStr}">
                                <f:selectItem itemValue="FEMALE" itemLabel="Děvče" />
                                <f:selectItem itemValue="MALE" itemLabel="Chlapec" />
                            </h:selectOneMenu>
                        </div>
                        <div class="large-3 medium-3 columns">
                            <h:outputLabel value="Jméno:" for="firstName" styleClass="#{firstName.valid ? '' : 'error'}">
                                <h:inputText id="firstName" binding="#{firstName}" value="#{c.firstName}" title="Křestní jméno" />
                                <h:message for="firstName" styleClass="error"/>
                            </h:outputLabel>
                        </div>                    
                        <div class="large-3 medium-3 columns">
                            <h:outputLabel value="Příjmení:" for="familyName" styleClass="#{familyName.valid ? '' : 'error'}">
                                <h:inputText id="familyName" binding="#{familyName}" value="#{c.familyName}" title="Příjmení" />
                                <h:message for="familyName" styleClass="error"/>
                            </h:outputLabel>
                        </div>                    
                        <div class="large-3 medium-3 columns">
                            <h:outputLabel value="Datum narození:" for="dateBorn" styleClass="#{dateBorn.valid ? '' : 'error'}">
                                <h:inputText id="dateBorn" binding="#{dateBorn}" p:type="date" p:min="1990-01-01" p:placeholder="RRRR-MM-DD" value="#{c.dateBorn}" title="Datum narození">
                                    <f:convertDateTime pattern="yyyy-MM-dd" timeZone="Europe/Prague" />
                                </h:inputText>
                                <h:message for="dateBorn" styleClass="error"/>
                            </h:outputLabel>
                        </div>
                        <div class="large-1 medium-1 columns">
                            <br />
                            <h:commandButton action="#{children.save(c)}" value="Uložit" styleClass="tiny radius button">
                                <f:ajax execute="@form" render="@form messagePanel" />
                            </h:commandButton>
                        </div>
                    </h:form>
                    <hr />
                </div>
            </ui:repeat>
            <div class="row">
                <div class="large-8 medium-10 columns">
                    <p>
                        Nechcete-li už nic měnit, můžete se vrátit na  <h:link outcome="/all/home" value="přehled Vašeho účtu" />.
                    </p>
                </div>
            </div>
            
        </ui:define>
    </ui:composition>

</html>
