<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>
    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="metadata">
            <f:metadata>
                <f:viewParam name="courseid" value="#{courseBooking.courseId}"/>
                <f:viewParam name="audience"/>
                <f:viewAction action="#{courseBooking.init}" />
            </f:metadata>
        </ui:define>

        <ui:define name="content">
            <div class="row">
                <div class="large-12 columns">
                    <h2>Rezervace kurzu: #{courseBooking.course.name}</h2>
                </div>
            </div>
            <h:form>
                <div class="row">
                    <div class="large-4 medium-5 columns">
                        <h:panelGrid columns="2">
                            <f:facet name="header">Detaily kurzu</f:facet>
                            Den v týdnu: 
                            <h:outputText value="#{courseBooking.weekDayStr}" />
                            Čas: 
                            <h:panelGroup>
                                <h:outputText converter="timeConverter" value="#{courseBooking.course.minuteBegin}" />
                                &#8211;
                                <h:outputText converter="timeConverter" value="#{courseBooking.course.minuteEnd}" />
                            </h:panelGroup>
                            Určeno pro věk:
                            <h:outputText value="#{courseBooking.course.age}" />
                            Volných míst:
                            <h:panelGroup>
                                <h:outputText rendered="#{courseBooking.course.balance gt 0}" value="#{courseBooking.course.balance}" />
                                <h:outputText rendered="#{courseBooking.course.balance le 0}" value="0" />
                            </h:panelGroup>
                            Lektor:
                            <h:panelGroup>
                                <h:outputText value="#{courseBooking.course.instructor.name.firstName} " />
                                <h:outputText value="#{courseBooking.course.instructor.name.familyName}" />
                            </h:panelGroup>
                            Počet lekcí:
                            <h:outputText value="#{courseBooking.course.numberOfLessons}" />
                            Cena:
                            <h:panelGroup>
                                <h:outputText value="#{courseBooking.course.price}" /> Kč
                            </h:panelGroup>
                            Začátek:
                            <h:outputText value="#{courseBooking.course.dateBegin}" >
                                <f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Prague" />
                            </h:outputText>
                        </h:panelGrid>
                    </div>
                    <div class="large-4 medium-5 columns end">
                        <h:dataTable value="#{courseBooking.registrants}" var="p" rendered="#{not empty courseBooking.registrants}">
                            <f:facet name="header">Máte již rezervováno</f:facet>
                            <h:column>
                                <h:outputText escape="false" value="#{courseBooking.iconCheck}" />
                            </h:column>
                            <h:column>
                                #{p.name.firstName} #{p.name.familyName}
                            </h:column>
                            <h:column>
                                <h:outputText value="#{p.dateBorn}" >
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Prague" />
                                </h:outputText>
                            </h:column>
                        </h:dataTable>
                        <h:dataTable value="#{courseBooking.bookingCandidates}" var="p" rendered="#{not empty courseBooking.bookingCandidates}">
                            <f:facet name="header">Můžete ještě rezervovat</f:facet>
                            <h:column>
                                <h:selectBooleanCheckbox value="#{courseBooking.checked[p.id]}" />
                            </h:column>
                            <h:column>
                                #{p.name.firstName} #{p.name.familyName}
                            </h:column>
                            <h:column>
                                <h:outputText value="#{p.dateBorn}" >
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Prague" />
                                </h:outputText>
                            </h:column>
                        </h:dataTable>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 medium-10 columns">
                        <h:panelGroup layout="block" rendered="#{not empty courseBooking.course.comment}">
                            <p>
                                <strong>
                                    Poznámka:
                                    <h:outputText value="#{courseBooking.sanitizedComment}" escape="false" /> 
                                </strong>
                            </p>
                        </h:panelGroup>
                        <h:panelGroup layout="block" rendered="#{not empty courseBooking.message}">
                            <div data-alert="" class="alert-box warning radius">
                                <h:outputText value="#{courseBooking.message}" /> 
                            </div>
                        </h:panelGroup>
                        <h:panelGroup layout="block" rendered="#{courseBooking.course.capacity gt 0 and courseBooking.course.balance le 0 and courseBooking.bookingCandidates.size() gt 0}">
                            <div data-alert="" class="alert-box warning radius">
                                Kapacita kurzu je vyčerpaná, můžete již
                                rezervovat jen pro náhradníky.                                
                            </div>
                        </h:panelGroup>
                        <h:panelGroup layout="block" rendered="#{courseBooking.course.capacity gt 0 and courseBooking.course.balance gt 0 and courseBooking.course.balance lt courseBooking.bookingCandidates.size()}">
                            <div data-alert="" class="alert-box warning radius">
                                Zbývající kapacita kurzu je menší než počet osob,
                                    pro které ještě můžete kurz rezervovat. Může se stát,
                                    že někteří budou náhradníky.                               
                            </div>
                        </h:panelGroup>
                        <div>
                            Provedenou rezervací souhlasíte s podmínkami, za kterých kurzy poskytujeme:
                        </div>
                        <ul>
                            <li><a href="http://www.brezanek.cz/assets/1-dokumenty/provoz_podm_2016-17.pdf" target="_blank" rel="noopener">podmínky pro kurzy Břežánek</a></li>
                            <li><a href="https://drive.google.com/file/d/0B8ME6BsV5z44Zm1CSHB0aFduMnM/view" target="_blank" rel="noopener">podmínky pro kurzy VIGVAM</a></li>
                        </ul>
                        <h:commandButton action="#{courseBooking.book}" value="Chci rezervovat" styleClass="radius button" disabled="#{empty courseBooking.bookingCandidates}" />
                    </div>
                </div>
            </h:form>
            <div class="row">
                <div class="large-8 medium-10 columns">
                    <p>
                        Zpět na 
                        <h:link  outcome="offered-courses" value="seznam kurzů">
                            <f:param name="audience" value="#{audience}" />
                        </h:link>.
                    </p>
                    <p>
                        Jít na
                        <h:link  outcome="/all/home" value="přehled Vašeho účtu" />.
                    </p>
                </div>
            </div>
            
        </ui:define>
    </ui:composition>

</html>

