<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>
    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="metadata">
            <f:metadata>
                <f:viewParam name="audience" value="#{offeredCourses.audienceStr}"/>
                <f:viewAction action="#{offeredCourses.init}" />
            </f:metadata>
        </ui:define>

        <ui:define name="content">
            <div class="row">
                <div class="large-12 columns">
                    <h2>
                        <h:outputText value="Nabídka kurzů pro #{offeredCourses.season.name}" />
                    </h2>
                    <h:panelGroup layout="block" rendered="#{offeredCourses.audienceStr eq 'CHILD'}">
                        <h3>Děti</h3>
                    </h:panelGroup>
                    <h:panelGroup layout="block" rendered="#{offeredCourses.audienceStr eq 'CHILD_PARENT'}">
                        <h3>Děti s rodiči</h3>
                    </h:panelGroup>
                    <h:panelGroup layout="block" rendered="#{offeredCourses.audienceStr eq 'ADULT'}">
                        <h3>Dospělí</h3>
                    </h:panelGroup>
                    <h:panelGroup layout="block" rendered="#{offeredCourses.audienceStr eq 'TEEN'}">
                        <h3>Teen klub</h3>
                    </h:panelGroup>
                    <h:panelGroup layout="block" rendered="#{offeredCourses.audienceStr eq 'DO'}">
                        <h3>Do klub</h3>
                    </h:panelGroup>
                    <h:panelGroup layout="block" rendered="#{offeredCourses.audienceStr eq 'SENIN'}">
                        <h3>Senin klub</h3>
                    </h:panelGroup>
                </div>
            </div>
            <ui:repeat value="#{offeredCourses.weekDays}" var="day">
                <h:panelGroup layout="block" styleClass="row" rendered="#{not empty offeredCourses.getDayCourses(day.number)}">
                    <div class="large-12 columns">
                        <h4>#{day.nameCap}</h4>
                        <h:dataTable value="#{offeredCourses.getDayCourses(day.number)}" var="c">
                            <h:column>
                                <f:facet name="header">Čas</f:facet>
                                <h:outputText converter="timeConverter" value="#{c.minuteBegin}" />
                                &#8211;
                                <h:outputText converter="timeConverter" value="#{c.minuteEnd}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">Kurz</f:facet>
                                <a href="#{c.urlExt}" target="_blank">#{c.name}</a>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Věk</f:facet>
                            #{c.age}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Lektor</f:facet>
                                <a href="#{c.instructor.urlExt}" target="_blank">#{c.instructor.name.firstName} #{c.instructor.name.familyName}</a>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Cena</f:facet>
                            #{c.price} / #{c.numberOfLessons} lekcí
                            </h:column>
                            <h:column>
                                <f:facet name="header">Začátek</f:facet>
                                <h:outputText value="#{c.dateBegin}" >
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Prague" />
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <h:link outcome="course-booking" value="rezervace">
                                    <f:param name="courseid" value="#{c.id}" />
                                    <f:param name="audience" value="#{offeredCourses.audienceStr}" />
                                </h:link>
                            </h:column>
                        </h:dataTable>
                    </div>
                </h:panelGroup>
            </ui:repeat>
        </ui:define>
    </ui:composition>

</html>

