<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui">

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="content">
            <div id="title" class="row">
                <div class="large-6 medium-6 columns">
                    <h2>Osobní údaje</h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <h:form>
                <div class="row">
                    <div class="large-2 medium-2 columns">
                        <h:outputLabel value="Oslovení:" for="title" />
                        <h:selectOneMenu  id="title" value="#{personalData.title}">
                            <f:selectItem itemValue="FEMALE" itemLabel="Paní" />
                            <f:selectItem itemValue="MALE" itemLabel="Pan" />
                        </h:selectOneMenu>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <h:outputLabel value="Jméno:" for="firstName" styleClass="#{firstName.valid ? '' : 'error'}">
                            <h:inputText id="firstName" binding="#{firstName}" value="#{personalData.firstName}" title="Křestní jméno" />
                            <h:message for="firstName" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-4 medium-4 columns end">
                        <h:outputLabel value="Příjmení:" for="familyName" styleClass="#{familyName.valid ? '' : 'error'}">
                            <h:inputText id="familyName" binding="#{familyName}" value="#{personalData.familyName}" title="Příjmení" />
                            <h:message for="familyName" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <h:outputLabel value="Ulice (nebo část obce) a číslo:" for="street" styleClass="#{street.valid ? '' : 'error'}">
                            <h:inputText id="street" binding="#{street}" value="#{personalData.street}" title="Ulice (část obce) a číslo" />
                            <h:message for="street" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <h:outputLabel value="Město (obec):" for="city" styleClass="#{city.valid ? '' : 'error'}">
                            <h:inputText id="city" binding="#{city}" value="#{personalData.city}" title="Město nebo obec" />
                            <h:message for="city" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-2 medium-2 columns end">
                        <h:outputLabel value="PSČ" for="postcode" styleClass="#{postcode.valid ? '' : 'error'}">
                            <h:inputText id="postcode" binding="#{postcode}" value="#{personalData.postcode}" title="Poštovní směrovací číslo" />
                            <h:message for="postcode" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 medium-3 columns">
                        <h:outputLabel value="Telefon:" for="phone" styleClass="#{phone.valid ? '' : 'error'}">
                            <h:inputText id="phone" binding="#{phone}" value="#{personalData.phone}" title="Telefonní kontakt (povinné)" />
                            <h:message for="phone" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-3 medium-3 columns end">
                        <h:outputLabel value="Další telefonní kontakt:" for="phone2" styleClass="#{phone2.valid ? '' : 'error'}">
                            <h:inputText id="phone2" binding="#{phone2}" value="#{personalData.phone2}" title="Další telefonní kontakt (nepovinné)" />
                            <h:message for="phone2" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                    <div class="large-2 medium-2 columns end">
                        <h:outputLabel value="Rok narození:" for="yearBornStr" styleClass="#{yearBornStr.valid ? '' : 'error'}">
                            <h:inputText id="yearBornStr" binding="#{yearBornStr}" value="#{personalData.yearBornStr}" title="Rok narození (jen pro zájezdy)" />
                            <h:message for="yearBornStr" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 medium-2 columns">
                        <h:commandButton action="#{personalData.save}" value="Uložit" styleClass="small radius button"/>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 medium-10 columns">
                        <p>
                            Nechcete-li už nic měnit, můžete se vrátit na  <h:link outcome="/all/home" value="přehled Vašeho účtu" />.
                        </p>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
