<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui">

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="content">
            <div id="title" class="row">
                <div class="large-6 medium-6 columns">
                    <h2>Změna hesla</h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <h:form>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <h:outputLabel value="Zadejte současné heslo:" for="currentPassword" styleClass="#{currentPassword.valid ? '' : 'error'}">
                            <h:inputSecret id="currentPassword" binding="#{currentPassword}" value="#{passwordChange.currentPassword}" title="Současné heslo" 
                                           required="true" requiredMessage="Současné heslo musí být zadáno!" validator="#{passwordChange.validateCurrentPassword}"/>
                            <h:message for="currentPassword" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <h:outputLabel value="Zadejte nové heslo:" for="newPassword" styleClass="#{newPassword.valid ? '' : 'error'}">
                            <h:inputSecret id="newPassword" binding="#{newPassword}" value="#{passwordChange.newPassword}" title="Nové heslo" />
                            <h:message for="newPassword" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <h:outputLabel value="Pro kontrolu zadejte nové heslo ještě jednou:" for="newPasswordConfirm" styleClass="#{newPasswordConfirm.valid ? '' : 'error'}">
                            <h:inputSecret id="newPasswordConfirm" binding="#{newPasswordConfirm}" value="#{passwordChange.newPasswordConfirm}" title="Nové heslo znovu"  
                                           required="#{not empty newPassword.value}" requiredMessage="Heslo pro kontrolu musí být zadáno!" >
                                <o:validateEqual id="equal" components="newPassword newPasswordConfirm" message="Zvolené a kontrolní heslo není stejné!" showMessageFor="newPasswordConfirm" />
                            </h:inputSecret>
                            <h:message for="newPasswordConfirm" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <p>
                            Po změně hesla budete odhlášeni. Musíte se znovu přihlásit s novým heslem.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 medium-2 columns">
                        <h:commandButton action="#{passwordChange.changePassword}" value="Změnit heslo" styleClass="small radius button"/>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
