<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="content">
            <div class="row">
                <div class="large-8 medium-8 columns">
                    <h2>Váš účet</h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <p>
                        Přihlásil(a) jste se jako: <strong>#{home.user.email}</strong>.
                        <h:panelGroup rendered="#{home.emailConfirmed}">
                            Vaše e&#8209;mailová adresa již byla ověřena.
                        </h:panelGroup>   
                        <h:panelGroup rendered="#{not home.emailConfirmed}">
                            Vaše e&#8209;mailová adresa nebyla dosud ověřena. 
                            Pro ověření klikněte na odkaz v ověřovacím e&#8209;mailu nebo 
                            zkopírujte adresu odkazu z&#160;e&#8209;mailu do adresního řádku 
                            webového prohlížeče a stiskněte klávesu Enter.
                        </h:panelGroup>   
                    </p>
                    <h:panelGroup layout="block" rendered="#{not empty home.lastLogin}">
                        <p>
                            Naposledy jste se přihlásil(a):
                            <h:outputText value="#{home.lastLogin}">
                                <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss" timeZone="Europe/Prague" />
                            </h:outputText>.
                        </p>
                    </h:panelGroup>   
                </div>
                <hr />
            </div>
            <h:panelGroup layout="block" styleClass="row" rendered="#{home.numberOfNewReservations gt 0}">
                <div class="large-6 medium-6 columns">
                    <p class="panel callout radius">
                        Nových rezervací od posledního přihlášení: #{home.numberOfNewReservations}
                    </p>
                </div>
            </h:panelGroup>   
            <div class="row">
                <div class="large-4 medium-5 columns">
                    <h:panelGrid columns="2" rendered="#{not empty home.person}">
                        <f:facet name="header">Osobní údaje</f:facet>
                        Jméno a příjmení: 
                        <h:outputText value="#{home.person.name.firstName} #{home.person.name.familyName}" />
                        Ulice a číslo: 
                        <h:outputText value="#{home.person.address.street}" />
                        Město / obec: 
                        <h:outputText value="#{home.person.address.city}" />
                        PSČ: 
                        <h:outputText value="#{home.person.address.postcode}" />
                        Rok narození: 
                        <h:outputText value="#{home.person.yearBorn}" />
                        Telefon: 
                        <h:outputText value="#{home.person.phone}" />
                        Druhý telefon: 
                        <h:outputText value="#{home.person.phone2}" />
                    </h:panelGrid>
                    <h:panelGroup layout="block" rendered="#{empty home.user.person and home.user.isInRole('USER')}">
                        <p>
                            Zatím o Vás bohužel nic dalšího nevíme. Chcete-li mít možnost rezervovat si kurzy či akce,
                            budeme potřebovat Vaše osobní údaje. Můžete je zadat zde:
                            <h:link outcome="/users/personal-data" value="Zadání osobních údajů." />
                        </p>
                    </h:panelGroup>   
                </div>
                <div class="large-5 medium-6 columns end">
                    <h:dataTable value="#{home.children}" var="c"  rendered="#{not empty home.children and home.user.isInRole('USER')}">
                        <f:facet name="header">Děti</f:facet>
                        <h:column>
                            #{c.name.firstName} #{c.name.familyName}
                        </h:column>
                        <h:column>
                            <h:outputText value="#{c.dateBorn}" >
                                <f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Prague" />
                            </h:outputText>
                        </h:column>
                    </h:dataTable>
                    <h:panelGroup layout="block" rendered="#{not empty home.user.person and empty home.children and home.user.isInRole('USER')}">
                        <p>
                            Nemáte zadané údaje o dětech. To je v&#160;pořádku, pokud 
                            chcete mít možnost rezervovat si kurzy či akce pouze pro sebe.
                            Budete-li ovšem chtít rezervovat kurzy i pro děti, budeme
                            potřebovat také jejich údaje. Můžete je zadat zde:
                            <h:link outcome="/users/children" value="Zadání údajů o dětech." />
                        </p>
                    </h:panelGroup>   
                </div>
            </div>
            <div id="rezervace" class="row">
                <hr />
                <br />
                <h:panelGroup layout="block" rendered="#{home.user.isInRole('USER')}" styleClass="large-6 medium-12 columns">
                    <h3>Aktuální rezervace kurzů</h3>
                    <ui:repeat value="#{home.participants}" var="p" rendered="#{not empty home.participants}">
                        <h:dataTable value="#{p.courseReservations}" var="cr" rendered="#{not empty p.courseReservations}">
                            <f:facet name="header">#{p.name.firstName} #{p.name.familyName} 
                                (<h:outputText value="#{p.dateBorn}">
                                    <f:convertDateTime pattern="yyyy" timeZone="Europe/Prague" />
                                </h:outputText>)
                            </f:facet>
                            <h:column>
                                <f:facet name="header">Den</f:facet>
                                    #{home.weekDayAbbrev(cr.offeredCourse.weekDay)}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Čas</f:facet>
                                <h:outputText converter="timeConverter" value="#{cr.offeredCourse.minuteBegin}" />
                                &#8211;
                                <h:outputText converter="timeConverter" value="#{cr.offeredCourse.minuteEnd}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">Kurz</f:facet>
                                    #{cr.offeredCourse.name}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Placeno</f:facet>
                                <h:outputText rendered="#{not empty cr.payment}" value="ano" />
                                <h:outputText rendered="#{empty cr.payment and cr.rank ge 0}" value="ne" /><!-- zobrazit jen pro účastníka -->
                            </h:column>
                            <h:column>
                                <f:facet name="header">Stav</f:facet>
                                <h:outputText rendered="#{cr.rank ge 0}" value="účastník" />
                                <h:outputText rendered="#{cr.rank lt 0}" value="náhradník" />
                            </h:column>
                        </h:dataTable>
                    </ui:repeat>
                </h:panelGroup>
            </div>            
        </ui:define>
    </ui:composition>

</html>
