<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >

    <ui:composition template="/WEB-INF/jsf/templates/user.xhtml">
        <ui:define name="content">
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <h2>Správa rolí uživatelů</h2>
                    <h:form>
                        <h:dataTable value="#{userRoles.users}" var="user">
                            <h:column>
                                <f:facet name="header">E-mail</f:facet>
                                    #{user.email}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Role</f:facet>
                                <h:selectManyCheckbox value="#{userRoles.selectedRoles[user]}">
                                    <f:selectItems value="#{userRoles.availableRoles}" var="role" itemLabel="#{role}" itemValue="#{role}" />
                                </h:selectManyCheckbox>  
                            </h:column>
                            <h:column>
                                <h:commandButton action="#{userRoles.save(user)}" value="Uložit" />
                            </h:column>
                        </h:dataTable>
                    </h:form>
                </div>
            </div>            
        </ui:define>
    </ui:composition>

</html>
