<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
>
    <ui:composition template="/WEB-INF/jsf/templates/default.xhtml">
        <ui:define name="metadata">
            <f:metadata>
                <f:viewParam name="key" value="#{confirmEmail.key}"/>
                <f:viewAction action="#{confirmEmail.onLoad}" />
            </f:metadata>
        </ui:define>

        <ui:define name="content">
            <div class="row">
                <div class="large-12 columns">
                    <h2>Ověření uživatele.</h2>
                </div>
            </div>
            <div class="row">
                <h:panelGroup layout="block" styleClass="large-12 columns" rendered="#{confirmEmail.confirmed}">
                    <div data-alert="" class="alert-box success radius">
                        Uživatel #{confirmEmail.user.email} byl úspěšně ověřen.
                    </div>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="large-12 columns error" rendered="#{!confirmEmail.confirmed and !confirmEmail.dbError}">
                    <div data-alert="" class="alert-box warning radius">
                        Ověření uživatele selhalo! 
                        Ověřovací řetězec #{confirmEmail.key} nebyl nalezen.
                        Uživatel byl pravděpodobně ověřen již dříve.
                    </div>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="large-12 columns error" rendered="#{confirmEmail.dbError}">
                    <div data-alert="" class="alert-box warning radius">
                        Ověření uživatele selhalo! Pravděpodobně došlo k chybě v databázi. 
                        TODO: Sdělit uživateli, co má dělat.
                    </div>
                </h:panelGroup>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    Pokračujte prosím na <h:link outcome="all/home" value="přihlášení" />.  
                    <!-- TODO: better outcome -->
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>

