<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>

    <ui:composition template="/WEB-INF/jsf/templates/default.xhtml">
        <ui:define name="content">
            <div id="title" class="row">
                <div class="large-6 medium-6 columns">
                    <h2>Zapomenuté heslo</h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <h:form>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <h:outputLabel value="Zadejte e-mailovou adresu:" for="email" styleClass="#{email.valid ? '' : 'error'}">
                            <h:inputText id="email" binding="#{email}" value="#{forgottenPassword.email}" title="E-mailová adresa" 
                                         validator="#{forgottenPassword.validateEmail}">
                            </h:inputText>
                            <h:message for="email" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="hide row">
                    <div class="large-6 medium-6 columns">
                        <h:outputLabel value="Zde prosím nic nevyplňujte:" for="honeypot" styleClass="#{honeypot.valid ? '' : 'error'}">
                            <h:inputTextarea id="honeypot" binding="#{honeypot}" value="#{forgottenPassword.honeypot}" />
                            <h:message for="honeypot" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 medium-2 columns">
                        <h:commandButton action="#{forgottenPassword.sendPassword}" value="Zaslat nové heslo" styleClass="small radius button"/>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <hr />
                        <p>
                            Máte již uživatelský účet a víte heslo?
                            <h:link outcome="/all/home" value="Přihlaste se!"/>
                        </p>
                        <p>
                            Jste tu poprvé a nemáte ještě uživatelský účet? 
                            <h:link outcome="registration" value="Zaregistrujte se!" />
                        </p>
                     </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
