<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    
    <ui:composition template="/WEB-INF/jsf/templates/default.xhtml">
        <ui:define name="content">
            <div class="row">
                <div class="large-8 medium-8 columns">
                    <h2>Vítáme Vás!</h2>
                    
                    <p>Právě se nacházíte na úvodní stránce rezervačního systému 
                        Centra Břežánek,&#160;z.ú. a VIGVAM,&#160;z.ú.</p>
                    
                    <h3>Co zde můžete najít?</h3>
                    <p>
                        Pomocí rezervačního systému se účastník nebo
                        jeho zákonný zástupce přihlásí do vybraného kurzu.
                    </p>
                    <p>
                        Pokud zde již máte zaregistrovaný uživatelský účet, 
                        můžete se přihlásit:  
                    </p>
                    <p><h:link styleClass="large radius button expand" outcome="/all/home" value="Přihlášení" /></p>
                    <p>
                        Pokud jste zde poprvé, je 
                        potřeba se nejdříve zaregistrovat: 
                    </p>
                    <p><h:link styleClass="large radius button expand" outcome="registration" value="Registrace" /></p>
                    <p>
                        <b>Zde nelze rezervovat jednorázové akce či workshopy.</b>
                        Tyto rezervace provádějte prostřednictvím rezervačního formuláře
                        umístěného pod popisem konkrétní akce přímo na
                        <a href="http://www.brezanek.cz">www.brezanek.cz</a>
                        nebo <a href="http://www.vigvam-db.cz">www.vigvam-db.cz</a>.
                    </p>
                    <hr />
                    <p>
                        Podrobnější informace o kurzech, lektorech, akcích apod.
                        najdete na našich webových stránkách na adrese 
                        <a href="http://www.brezanek.cz">www.brezanek.cz</a>
                        nebo <a href="http://www.vigvam-db.cz">www.vigvam-db.cz</a>.
                    </p>
                    <p>
                        Tento rezervační systém funguje nejlépe s&#160;prohlížečem
                        <a href="https://www.google.com/chrome/browser/">Google Chrome</a>, 
                        který si můžete zdarma nainstalovat. Naopak s&#160;prohlížečem
                        Internet Explorer verze&#160;8 nebo starším Vám to bohužel 
                        fungovat nebude.
                    </p>
                    
                </div>
            </div>
        </ui:define>
    </ui:composition>
    
</html>

