<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    
    <ui:composition template="/WEB-INF/jsf/templates/default.xhtml">
        <ui:define name="content">
            <h:panelGroup id="subtitle" layout="block" styleClass="row">
                <h:panelGroup layout="block" styleClass="large-6 medium-6 columns">
                    <h2>Přihlaste se prosím</h2>
                </h:panelGroup>
            </h:panelGroup>
            <!-- Form authentication -->
            <form action="j_security_check" method="post">
                <div class="row">
                    <h:panelGroup layout="block" styleClass="large-6 medium-6 columns">
                        <label for="j_username">E-mailová adresa</label>
                        <input type="text" name="j_username" title="E-mailová adresa" />
                    </h:panelGroup>
                </div>
                <div class="row">
                    <h:panelGroup layout="block" styleClass="large-6 medium-6 columns">
                        <label for="j_password">Heslo pro rezervační systém:</label>
                        <input type="password" name="j_password" title="Heslo" />
                    </h:panelGroup>
                </div>
                <div class="row">
                    <h:panelGroup layout="block" styleClass="large-2 medium-2 columns">
                        <input type="submit" value="Přihlásit" class="small radius button"/>
                    </h:panelGroup>
                </div>
                <div class="row">
                    <p class="large-6 medium-6 columns">
                        Nemáte ještě uživatelský účet? 
                        <h:link outcome="registration" value="Zaregistrujte se!" />
                    </p>
                </div>
                <div class="row">
                    <p class="large-6 medium-6 columns">
                        Máte účet s ověřeným e-mailem, ale nevzpomenete si na heslo?
                        <h:link outcome="forgotten-password" value="Zašleme Vám nové!" />
                    </p>
                </div>
                <div class="row">
                    <p class="large-6 medium-6 columns">
                        Tento rezervační systém funguje nejlépe s&#160;prohlížečem
                        <a href="https://www.google.com/chrome/browser/">Google Chrome</a>, 
                        který si můžete zdarma nainstalovat. Naopak s&#160;prohlížečem
                        Internet Explorer verze&#160;8 nebo starším Vám to bohužel 
                        fungovat nebude.
                    </p>
                </div>
            </form>
        </ui:define>
    </ui:composition>
    
</html>

