<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>
    
    <ui:composition template="/WEB-INF/jsf/templates/default.xhtml">
        <ui:define name="content">
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <h2>Chyba při přihlašování</h2>
                    <p data-alert="true" class="alert-box alert radius">Litujeme, ale přihlášení se nepodařilo.</p>
                    <p>
                       Nejspíše jste zadal(a) nesprávnou e-mailovou adresu nebo heslo. 
                    </p>
                    <hr />
                    <p>
                        Chcete to zkusit znovu? Přejděte zpět na
                        <h:link outcome="/all/home" value="přihlášení."/>
                    </p>
                    <p>
                        Máte již účet s ověřeným e-mailem, ale nevzpomenete si na heslo?
                        Můžeme Vám
                        <h:link outcome="forgotten-password" value="zaslat nové." />
                    </p>
                    <p>
                        Jste tu poprvé a nemáte ještě uživatelský účet? Můžete se
                        <h:link outcome="registration" value="zaregistrovat." />
                    </p>
                </div>
            </div>
        </ui:define>
    </ui:composition>
    
</html>

