<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui">

    <ui:composition template="/WEB-INF/jsf/templates/default.xhtml">
        <ui:define name="content">
            <div id="title" class="row">
                <div class="large-6 medium-6 columns">
                    <h2>Děkujeme za registraci</h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <h3>Co teď bude následovat?</h3>
                    <p>
                        Na adresu zadanou při registraci Vám během několika minut přijde ověřovací 
                        e&#8209;mail z&#160;adresy 
                        <strong>rezervace.brezanek@gmail.com.</strong>
                        E&#8209;mail obsahuje webový odkaz, na který je potřeba kliknout.
                        Dostanete se jím zpět na stránky rezervačního systému, kde se pak budete moci 
                        přihlásit.
                    </p>
                    <p>
                        U některých poskytovatelů e&#8209;mailu (Seznam) může dojít
                        k&#160;větší prodlevě.
                        Pokud ověřující e&#8209;mail neobdržíte ani za hodinu, ozvěte se prosím 
                        v&#160;otevírací době na <a href="http://www.brezanek.cz/kontakty.html">recepci Centra Břežánek</a>. Pokusíme se společně problém
                        vyřešit.
                    </p>
                    <p>
                        Děkujeme Vám za registraci v&#160;rezervačním systému Centra Břežánek,&#160;z.ú.
                        Věříme, že s&#160;naší nabídkou budete spokojeni.
                    </p>
                </div>
            </div>
            <div class="row">                
                <div class="large-6 medium-6 columns">
                    <hr />
                    <p>
                        Máte již uživatelský účet? Můžete přejít na
                        <h:link outcome="/all/home" value="přihlášení."/>
                    </p>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
