<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui">

    <ui:composition template="/WEB-INF/jsf/templates/default.xhtml">
        <ui:define name="content">
            <div id="title" class="row">
                <div class="large-6 medium-6 columns">
                    <h2>Registrace nového uživatele</h2>
                </div>
            </div>
            <div id="messagePanel" class="row">
                <div class="large-6 medium-6 columns">
                    <h:messages globalOnly="true" errorClass="alert-box error radius" warnClass="alert-box warning radius" infoClass="alert-box info radius"/>
                </div>
            </div>
            <h:form>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <h:outputLabel value="Zadejte svou e-mailovou adresu, kterou se budete přihlašovat:" for="email" styleClass="#{email.valid ? '' : 'error'}">
                            <h:inputText id="email" binding="#{email}" value="#{registration.email}" title="E-mailová adresa" 
                                         required="true" requiredMessage="E-mailová adresa musí být zadána!" validator="#{registration.validateEmail}">
                            </h:inputText>
                            <h:message for="email" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <h:outputLabel value="Zvolte heslo:" for="password" styleClass="#{password.valid ? '' : 'error'}">
                            <h:inputSecret id="password" redisplay="true" binding="#{password}" value="#{registration.password}" title="Heslo"  
                                           required="true" requiredMessage="Heslo musí být zadáno!"  validatorMessage="Heslo musí být delší než 5 znaků a kratší než 32 znaků!">
                                <f:validateLength minimum="6" maximum="31" />
                            </h:inputSecret>
                            <h:message for="password" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <h:outputLabel value="Pro kontrolu zadejte prosím stejné heslo ještě jednou:" for="password2" styleClass="#{password2.valid ? '' : 'error'}">
                            <h:inputSecret id="password2" redisplay="true" binding="#{password2}" value="#{registration.password2}" title="Heslo"  
                                           required="#{not empty password.value}" requiredMessage="Heslo musí být zadáno!" >
                                <o:validateEqual id="equal" components="password password2" message="Zvolené a kontrolní heslo není stejné!" showMessageFor="password2" />
                            </h:inputSecret>
                            <h:message for="password2" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="hide row">
                    <div class="large-6 medium-6 columns">
                        <h:outputLabel value="Zde prosím nic nevyplňujte:" for="honeypot" styleClass="#{honeypot.valid ? '' : 'error'}">
                            <h:inputTextarea id="honeypot" binding="#{honeypot}" value="#{registration.honeypot}" />
                            <h:message for="honeypot" styleClass="error"/>
                        </h:outputLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <blockquote>
                            Osobní údaje budou zpracovány a uchovány pouze pro potřeby související s&#160;provozem 
                            kurzů. Data uživatelů vložená do systému jsou považována za důvěrná 
                            a budou využívána dle zákona č. 101/2000 Sb. o ochraně osobních údajů. 
                            Uvedená data nebudou zneužita na komerční účely.
                            Fotografie pořízené během kurzů a akcí mohou být  
                            použity pro prezentaci a propagaci Centra Břežánek,&#160;z.ú.
                        </blockquote>
                        <blockquote>
                            Tento rezervační systém používá soubory cookie
                            pouze k&#160;ověřování uživatelů a jejich práv
                            a k&#160;ochraně uživatelských dat před přístupem neautorizovaných stran.
                        </blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 medium-2 columns">
                        <h:commandButton action="#{registration.register}" value="Registrovat" styleClass="small radius button"/>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <hr />
                        <p>
                            Máte již uživatelský účet?
                            <h:link outcome="/all/home" value="Přihlaste se!"/>
                        </p>
                        <p>
                            Máte již účet s ověřeným e-mailem, ale nevzpomenete si na heslo?
                            <h:link outcome="forgotten-password" value="Zašleme Vám nové!" />
                        </p>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
