<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui= "http://xmlns.jcp.org/jsf/facelets" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" class="no-js" lang="cs">

    <ui:insert name="metadata"></ui:insert>

    <h:head>
        <meta charset="utf-8" />
        <!-- ****** faviconit.com favicons ****** -->
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico" />
        <link rel="icon" type="image/png" sizes="196x196" href="/favicon-196.png" />
        <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png" />
        <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png" />
        <link rel="apple-touch-icon" href="favicon-57.png" />
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="/favicon-144.png" />
        <meta name="msapplication-config" content="/browserconfig.xml" />
        <!-- ****** faviconit.com favicons ****** --> 

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Brezanek-rezervace</title>
        <h:outputStylesheet name="css/app.css" />
        <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
    </h:head>
    <h:body>

        <div class="row">
            <div class="large-12 columns">
                <h1><!--<img alt="logo" src="/resources/images/logo4header.png" /> -->Rezervační systém Břežánek / VIGVAM</h1>
            </div>
        </div>

        <ui:insert name="content">
            <div class="row">Main Template Content</div>
        </ui:insert>

        <footer class="footer">
            <div class="row">
                <div class="large-6 columns">
                    Rezervační a informační systém REZERVIS
                </div>
                <div class="large-3 columns end">
                    &#169;&#160;2014-2017 Pavel Sýkora 
                </div>
            </div>
        </footer>
        
        <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
        <script src="//cdn.jsdelivr.net/foundation/5.4.7/js/foundation.min.js"></script>
        <script src="/resources/js/stickyFooter.js"></script>
        <script>
            $(document).foundation();
        </script>
    </h:body>
</html>
