<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui= "http://xmlns.jcp.org/jsf/facelets" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" class="no-js" lang="cs"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:insert name="metadata"></ui:insert>

    <h:head>
        <meta charset="utf-8" />
        <!-- ****** faviconit.com favicons ****** -->
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico" />
        <link rel="icon" type="image/png" sizes="196x196" href="/favicon-196.png" />
        <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png" />
        <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png" />
        <link rel="apple-touch-icon" href="favicon-57.png" />
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="/favicon-144.png" />
        <meta name="msapplication-config" content="/browserconfig.xml" />
        <!-- ****** faviconit.com favicons ****** --> 

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Brezanek-rezervace</title>
        <h:outputStylesheet name="css/app.css" />
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" />
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.css" />
        <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
    </h:head>
    <h:body>

        <div class="row">
            <div class="large-12 columns">
                <h1><!--<img alt="logo" src="/resources/images/logo4header.png" /> -->Rezervační systém Břežánek / VIGVAM</h1>
            </div>
        </div>

        <div class="contain-to-grid sticky">
            <nav class="top-bar" data-topbar="true">
                <ul class="title-area">
                    <li class="name">
                        <h1>Nabídka kurzů</h1>
                    </li>
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>

                <section class="top-bar-section">
                    <!-- Left Nav Section -->
                    <ul class="left">
                        <ui:fragment rendered="#{identityManager.user.isInRole('USER')}">
                            <li class="has-dropdown"><a href="#">Břežánek</a>
                                <ul class="dropdown">
                                    <li>
                                        <h:link outcome="/users/offered-courses"  value="Děti">
                                            <f:param name="audience" value="CHILD" />
                                        </h:link>
                                    </li>
                                    <li>
                                        <h:link outcome="/users/offered-courses"  value="Děti s rodiči">
                                            <f:param name="audience" value="CHILD_PARENT" />
                                        </h:link>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Vigvam</a>
                                <ul class="dropdown">
                                    <li>
                                        <h:link outcome="/users/offered-courses"  value="Teen klub">
                                            <f:param name="audience" value="TEEN" />
                                        </h:link>
                                    </li>
                                    <li>
                                        <h:link outcome="/users/offered-courses"  value="Do klub">
                                            <f:param name="audience" value="DO" />
                                        </h:link>
                                    </li>
                                    <li>
                                        <h:link outcome="/users/offered-courses"  value="Senior klub">
                                            <f:param name="audience" value="SENIN" />
                                        </h:link>
                                    </li>
                                </ul>
                            </li>
                        </ui:fragment>
                        <ui:fragment rendered="#{identityManager.user.isInRole('OPERATOR')}">
                            <li class="has-dropdown"><a href="#">Recepce</a></li>
                        </ui:fragment>
                        <ui:fragment rendered="#{identityManager.user.isInRole('MANAGER')}">
                            <li class="has-dropdown"><a href="#">Správa</a>
                                <ul class="dropdown">
                                    <li><h:link outcome="/managers/season-mgmt" value="Správa období" /></li>
                                    <li><h:link outcome="/managers/course-mgmt" value="Správa kurzů" /></li>
                                    <li><h:link outcome="/managers/instr-mgmt" value="Správa lektorů" /></li>
                                    <!--<li><h:link outcome="/managers/user-list" value="Výpis uživatelů" /></li>-->
                                    <!--<li><h:link outcome="/managers/participant-list" value="Výpis účastníků" /></li>-->
                                    <li><h:link outcome="/managers/user-mgmt" value="Správa uživatelů" /></li>
                                    <li><h:link outcome="/managers/payment-mgmt" value="Správa plateb" /></li>
                                    <li><h:link outcome="/managers/course-reserv-mgmt" value="Správa rezervací" /></li>
                                    <li><h:link outcome="/managers/exports" value="Export do Excelu" /></li>
                                </ul>
                            </li>
                        </ui:fragment>
                        <ui:fragment rendered="#{identityManager.user.isInRole('ADMIN')}">
                            <li class="has-dropdown"><a href="#">Administrace</a>
                                <ul class="dropdown">
                                    <li><h:link outcome="/admins/user-roles" value="Role uživatelů" /></li>
                                </ul>
                            </li>
                        </ui:fragment>
                    </ul>

                    <!-- Right Nav Section -->
                    <ul class="right">
                        <li><h:link outcome="/all/home" value="#{identityManager.nameOrEmail}" /></li>
                        <li class="has-dropdown">
                            <h:link outcome="/all/home" value="Váš účet" />
                            <ul class="dropdown">
                                <li><h:link outcome="/all/home" value="Váš účet" /></li>
                                <li><h:link outcome="/all/home" fragment="rezervace" value="Vaše rezervace" /></li>
                                <li><h:link outcome="/users/personal-data" value="Osobní údaje" /></li>
                                <li><h:link outcome="/users/children" value="Údaje dětí" /></li>
                                <li><h:link outcome="/all/change-password" value="Změna hesla" /></li>
<!--                                <li><h:link outcome="/users/todo" value="Změna e-mailu" /></li>-->
                            </ul>
                        </li>
                        <li class="active"><h:form><h:commandButton action="#{identityManager.logout}"  immediate="true" value="Odhlásit se" styleClass="small radius button" /></h:form></li>
                    </ul>
                </section>
            </nav>
        </div>

        <ui:insert name="content">
            <div class="row">Main Template Content</div>
        </ui:insert>

        <footer class="footer">
            <div class="row">
                <div class="large-6 columns">
                    Rezervační a informační systém REZERVIS
                </div>
                <div class="large-3 columns end">
                    &#169;&#160;2014-2017 Pavel Sýkora 
                </div>
            </div>
        </footer>
        
        <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
        <script src="//cdn.jsdelivr.net/foundation/5.4.7/js/foundation.min.js"></script>
        <script src="/resources/js/stickyFooter.js"></script>
        <script>
            $(document).foundation();
        </script>
        <ui:insert name="epilogue"></ui:insert>
    </h:body>
</html>
