<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
    <script>
        jQuery.fn.dataTableExt.oSort['czechString-asc']  = function(a,b) {
            var x = a.toLowerCase(); var y = b.toLowerCase();
            return x.localeCompare(y);
        };
        jQuery.fn.dataTableExt.oSort['czechString-desc'] = function(a,b) {
            var x = a.toLowerCase(); var y = b.toLowerCase();
            return y.localeCompare(x);
        };
    </script>
</ui:composition>